.main_container{
    background-image: url("res/test.png");
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    display: inline-block;
}

.info_container{
    display: flex;
    margin-top: -60px;
    margin-left: 30px;
}

p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 75px;
    color: #f3f6f9;
}

#time{
    margin-right: 25px;
}

#temp{
    font-size: 45px;
    margin-top: auto;
    margin-bottom: auto;
}

.menu_container{
    margin-top: 60px;
    margin-left: 30px;
}

.menu{
    font-family: 'Times New Roman', Times, serif;
    display: block;
    margin-bottom: 10px;
    height: 70px;
    width: 275px;
}