<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='light_theme.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='res/favicon.ico') }}">
</head>

<div class = "main_container">
    <div class = "menu_container">
        <button class="menu" type="button">Lights</button>
        <button class="menu" type="button">Weather</button>
        <button class="menu" type="button">Email</button>
        <button class="menu" type="button">Spotify</button>
    </div>
    <div class = "info_container">
        <p id = "time">12:00</p>
        <p id = "temp">73°</p>
    </div>
</div>>
</html>