<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/hue_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='themes/dark_theme.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='res/favicon.ico') }}">
    <script type=text/javascript src="{{ url_for('static', filename='scripts/jquery-3.6.0.js') }}"></script>
    <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson }};</script>
    <script src="{{url_for('static', filename='scripts/light_menu.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/update.js')}}"></script>
</head>
<body onload="get_lights()">
    <div class="main_container">
        <div class = "nav_bar">
            <button id="back" onclick = "location.href = location.href.replace('/lights', '');"></button>
            <p id="title">Lights</p>
        </div>
        <div id = "button_container"></div>
    </div>
</body>
