<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/weather_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='themes/light_theme.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='res/favicon.ico') }}">
    <script>
        function swt(current){
            if(current == "weekly"){
                document.getElementById("hour_forecast").style.visibility = 'hidden';
                document.getElementById("week_forecast").style.visibility = "visible";
                document.getElementById("hour_selec").style.backgroundColor = "white";
                document.getElementById("week_selec").style.backgroundColor = "#e3e7f2";
            }else{
                document.getElementById("week_forecast").style.visibility = 'hidden';
                document.getElementById("hour_forecast").style.visibility = "visible";
                document.getElementById("week_selec").style.backgroundColor = "white";
                document.getElementById("hour_selec").style.backgroundColor = "#e3e7f2";
            }
        }
    </script>
</head>
<div id = "main_container">
    <div class = "nav_bar">
        <button id="back" onclick = "location.href = location.href.replace('/weather', '');"></button>
        <p id="title-weather">Weather</p>
    </div>
    <div id = "info_container">
        <label class="conditions newl" id = "current">{{ conditions }}</label>
        <label class="conditions">{{ city }} </label>
        <label class="conditions holo-weather"> </label>
        <label class="conditions">{{ max }}</label>
        <label class="conditions holo-weather"> </label>
        <label class="conditions">{{ min }}</label>
        <label class="conditions newl" id = "date">{{ date }}</label>
        <label id="temp">{{ temp }}</label>
    </div>
    <div id="divider">
        <button class="selector" id="hour_selec" onclick="swt('hourly')">Hourly</button>
        <button class="selector" id="week_selec" onclick="swt('weekly')">Weekly</button>
    </div>
    <div id="forecast_container">
        <div class="forecast" id="hour_forecast">
            <p><span class="small">{{ hf[0][0] }}<br>{{ hf[0][1] }}</span><br>{{ hf[0][2] }}</p>
            <p><span class="small">{{ hf[1][0] }}<br>{{ hf[1][1] }}</span><br>{{ hf[1][2] }}</p>
            <p><span class="small">{{ hf[2][0] }}<br>{{ hf[2][1] }}</span><br>{{ hf[2][2] }}</p>
            <p><span class="small">{{ hf[3][0] }}<br>{{ hf[3][1] }}</span><br>{{ hf[3][2] }}</p>
            <p><span class="small">{{ hf[4][0] }}<br>{{ hf[4][1] }}</span><br>{{ hf[4][2] }}</p>
            <p><span class="small">{{ hf[5][0] }}<br>{{ hf[5][1] }}</span><br>{{ hf[5][2] }}</p>
            <p><span class="small">{{ hf[6][0] }}<br>{{ hf[6][1] }}</span><br>{{ hf[6][2] }}</p>
            <p><span class="small">{{ hf[7][0] }}<br>{{ hf[7][1] }}</span><br>{{ hf[7][2] }}</p>
            <p><span class="small">{{ hf[8][0] }}<br>{{ hf[8][1] }}</span><br>{{ hf[8][2] }}</p>
            <p><span class="small">{{ hf[9][0] }}<br>{{ hf[9][1] }}</span><br>{{ hf[9][2] }}</p>
            <p><span class="small">{{ hf[10][0] }}<br>{{ hf[10][1] }}</span><br>{{ hf[10][2] }}</p>
            <p><span class="small">{{ hf[11][0] }}<br>{{ hf[11][1] }}</span><br>{{ hf[11][2] }}</p>
        </div>
        <div class="forecast" id="week_forecast">
            <p class="week"><span class="small">{{ wf[0][0] }}<br>{{ wf[0][2] }}</span><br>{{ d[0] }}</p>
            <p class="week"><span class="small">{{ wf[1][0] }}<br>{{ wf[1][2] }}</span><br>{{ d[1] }}</p>
            <p class="week"><span class="small">{{ wf[2][0] }}<br>{{ wf[2][2] }}</span><br>{{ d[2] }}</p>
            <p class="week"><span class="small">{{ wf[3][0] }}<br>{{ wf[3][2] }}</span><br>{{ d[3] }}</p>
            <p class="week"><span class="small">{{ wf[4][0] }}<br>{{ wf[4][2] }}</span><br>{{ d[4] }}</p>
            <p class="week"><span class="small">{{ wf[5][0] }}<br>{{ wf[5][2] }}</span><br>{{ d[5] }}</p>
            <p class="week"><span class="small">{{ wf[6][0] }}<br>{{ wf[6][2] }}</span><br>{{ d[6] }}</p>
        </div>
    </div>
</div>